<div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Danh sách tài khoản</h3>

            <div class="box-tools pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" (click)="btnCustomerCreate_OnClick()">
                        <i class="fa fa-plus"></i>&nbsp;Tạo mới
                    </button>
                    <button type="button" class="btn btn-sm btn-info" (click)="BindingAccounts()">
                        <i class="fa fa-refresh"></i>&nbsp;Làm mới
                    </button>
                </div>

                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button> -->
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered jambo_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Date</th>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th colspan="2" class="text-center">Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of accounts">
                        <td>{{item.ID}}</td>
                        <td>{{item.Username}}</td>
                        <td>{{item.Password}}</td>
                        <td>{{item.Role}}</td>
                        <td>{{item.CreateTime| date:'dd/MM/yyyy'}}</td>
                        <td>{{item.Fullname}}</td>
                        <td>{{item.Email}}</td>
                        <td class="text-center func">
                            <button class="btn btn-sm btn-primary" (click)="EditAccount(item)" type="button">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                        <td class="text-center func">
                            <button class="btn btn-sm btn-danger" (click)="deleteAccount(item)" type="button">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>


</div>
<account-create-popup [accountId]="ID" (createDone)="createHandler($event)"></account-create-popup>