<div class="wrapper">

    <app-header></app-header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="treeview" *ngFor="let item of menus" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a *ngIf="ModuleList.indexOf(item.id)!=-1" routerLink="{{item.routerLink}}" (click)="setTitle(item.name)">
                        <i class="{{item.icon}}"></i>
                        <span>{{item.name}}</span>
                        <span *ngIf="item.hasChild" class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul *ngIf="item.hasChild" class="treeview-menu">
                        <li *ngFor="let itemChild of item.childs">
                            <a routerLink="{{itemChild.routerLink}}" (click)="setTitle(itemChild.name)">
                                <i class="{{itemChild.icon}}"></i>
                                <span>{{itemChild.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height:900px;">
        <!-- Content Header (Page header) -->
        <!--<section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>-->
        <!-- Main content -->
        <section class="content content-extend">

            <h1>{{headerName}}</h1>
            <router-outlet></router-outlet>
            <!-- <toast-messages></toast-messages> -->
        </section>
        <!-- /.content -->
    </div>



    <!-- /.content-wrapper -->
    <app-footer></app-footer>
    <app-aside-right></app-aside-right>
    <div class="control-sidebar-bg"></div>
</div>